/*
1920 x 780
*/
body 
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    
    margin: 0 auto;
    background: #2D2F59
}
header
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0px;
}
.cabecalho
{
    width: 15%;
    height: 1500px;
    background-color: white;
}
.logo img 
{
    width: 100%;
    padding-top: 10px;
}
.navegacao
{
    overflow: hidden;
}
.navegacao a
{
    float: left;
    color: rgb(20, 20, 20);
    text-decoration: none;
    padding: 10px;
    width: 75%;
    text-align: center;
    display: block;
}
.conteudo
{
    color: rgb(196, 196, 196);
    width: 85%;
    position: absolute;
    left: 15%;
    top: 0%;
}
.principal img
{
    width: 60%;
}
.conteudo
{
    text-align: center;
}
.texto
{
    padding-left: 15px;
    padding-right: 15px;
}
.conteudo h1
{
    color: rgb(240, 240, 240);
}
.rodape
{
    color: darkgray;
    font-size: 10px;
    width: 100%;
    text-align: center;
}